<mat-card *ngFor="let plan of dataSource">
    <mat-grid-list cols="10" rowHeight="100px">
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            3524165165
            <mat-card-header>
                <mat-card-title>
                    <!-- <a href="#" style="text-decoration:none; color:cornflowerblue">{{plan.title}}</a> -->
                    <span>{{plan.title}}</span>
                   
                   
                    <!-- <td style="position: absolute;right: 0; margin-right: 20px;top: 10px;" *ngIf='plan.issue'>
                       
                       
                    </td> -->
                </mat-card-title>
            </mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> <span style="margin-left:15px ;font-size: 15px;">writer</span> </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> <span style="margin-left:15px ;font-size: 15px;">fork from</span> </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-icon-button >
                <mat-icon>question_answer</mat-icon>
                {{plan.issue.length }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>

   

    <mat-card-content style="padding: 0 15px;">
        <img src="https://i.imgur.com/ntjE9Tz.png" width="200">
        <p *ngIf='plan.content'>
            {{plan.content.substring(0,100) }}
        </p>
        <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" *ngIf='plan.formats'>{{ plan.formats}} </mat-chip>

                <mat-chip *ngFor="let tag of plan.tags">{{tag}}</mat-chip>
              </mat-chip-list>
        <mat-chip-list>
                <td style="margin-right:5px;"><mat-icon>star_border</mat-icon></td>
                <td style="margin-right:10px;"  *ngIf='plan.starred'>{{ plan.starred.length }} </td>
                <td  style="margin-right:5px;"><mat-icon>visibility</mat-icon></td>
                <td style="margin-right:10px;">1234</td>
                <td  style="margin-right:10px;" *ngIf='plan.license'> {{ plan.license }}</td>
                <td  style="margin-right:10px;"> {{ "更新時間: "+(plan.lastchangeAt | date:'yyyy/MM/dd') }}</td>
                <div style="position: absolute;right: 0; margin-right: 20px;">
                    <button mat-icon-button disabled>
                        <mat-icon>link</mat-icon>
                    </button>
            
                    <button mat-icon-button disabled>
                        <mat-icon>group_add</mat-icon>
                    </button>
            
                    <button mat-icon-button disabled>
                        <mat-icon>cloud_download</mat-icon>
                    </button>
            
                    <button mat-icon-button (click)="setStar(plan)">
                        <mat-icon>{{ isStarred(plan) ? "star" : "star_border" }}</mat-icon>
                    </button>
            
                    <button mat-icon-button *ngIf="!plan.isExternal" [routerLink]="[routerLink.ViewingPlan, 'user001', plan.title]">
                        <mat-icon>visibility</mat-icon>
                    </button>
            
                    <button mat-icon-button *ngIf="!plan.isExternal" [routerLink]="[routerLink.EditingPlan, plan.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
            
                    <button mat-icon-button *ngIf="!plan.isExternal" (click)="deletePlan(plan)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
        </mat-chip-list>
    </mat-card-content>
</mat-card>