mat-card {
    display: inline-block;
    width: calc(100vw - 350px);
    margin: 16px;
    padding: 20px 30px 10px 30px;
}

mat-card-subtitle {
    mat-icon {
        font-size: 1.25em;
        vertical-align: top;
    }
}

ng-container{
    margin-right: 15px;
}

// https://stackoverflow.com/questions/51920250/angular-material-6-grid-list-align-items-and-justify-content-to-flex-start
// https://stackoverflow.com/questions/37386396/text-align-in-md-grid-tile-angular-material-doesnt-work

// https://stackblitz.com/edit/angular-wqk8tr-nxxm6h?file=app%2Fgrid-list-dynamic-example.ts

::ng-deep mat-card-header .mat-card-header-text{
    margin:0;
}

::ng-deep mat-grid-tile.content .mat-figure{
    align-items: flex-start !important;
}

::ng-deep mat-grid-tile.content .mat-figure p{
    margin:0;
}

::ng-deep mat-grid-tile.left .mat-figure{
    justify-content: flex-start !important;
}

::ng-deep mat-grid-tile.action .mat-figure{
    justify-content: flex-end !important;
}

::ng-deep mat-grid-tile.little .mat-figure{
    font-size: 12px;
}